body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("images/background.jpg") no-repeat center 10% fixed;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#welcome, #main, #messagesSection {
  display: none;
}

#welcome {
  display: block;
}

button {
  background-color: #bb64ff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.message {
  background-color: white;
  color: black;
  padding: 10px;
  margin: 10px
}

#welcomeText {
  position: absolute;
  top: 40px;
  right: 60px;
  margin: 0;
  font-size: 30px;
  text-align: right;
  font-family: 'Georgia', sans-serif;
}

#enterBtn {
  position: absolute;
  top: 90px;
  right: 60px;
  background-color: #bb64ff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.message img {
  max-width: 100px;
  width: 80%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

.message {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 100px;
  margin-bottom: 20px;
  border-radius: 12px;
  gap: 20px;
}

.message-text {
  flex: 1;
  font-size: 16px;
  text-align: left;
  color: white;
  max-width: 60%;
}

.message-image {
  max-width: 200px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#messages {
  max-height: 80vh;
  overflow-y: auto;
  padding-top: 100px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

#sectionTitle {
  margin-top: 40px;
  margin-left: 40px;
  font-size: 28px;
  color: white;
}

#messagesSection {
  position: relative;
  z-index: 1;
}

#messagesSection .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.message {
  color: white;
}
